form p {
    color: blueviolet;
}
form h2 {
    color:brown;
}
.chupipandi {
    color: cadetblue;
}
.maritere {
    background-color: aquamarine;
}
.maritere p {
    color:darksalmon;
}
.pagando {
    background-color: cadetblue;
}
.pagando h2, .pagando p{
    color: aqua;
}