
body{
    background-color: #89b520;
    color: white;
}

/* cabecera */

header h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
header h4{
    margin-top: 0px;
    text-align: center;
}
header .logo, .titulo{
    float: left;
}
header .titulo{
    margin-left: 15px;
    padding-bottom: 0px;
}
header .contacto{
    float: right;
    text-align: right;
    margin-top: 25px;
}
header .contacto ul{
    list-style-type: none;
}

/* navegacion */

nav{
    clear: both;
    background-color: #333;
    overflow: hidden;
}
nav ul .menu{
    list-style-type: none;
}
nav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px, 16px;
}