
body{
    background: #89b520;
    background: linear-gradient(to bottom, #89b520 0%, #d8e6ad 100%);
    color: white;
}

/* cabecera */

header h1{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
header h4{
    margin-top: 0px;
    text-align: center;
}
header .logo, .titulo{
    float: left;
}
header .titulo{
    margin-left: 15px;
    padding-bottom: 0px;
}
header .contacto{
    float: right;
    text-align: right;
    margin-top: 25px;
}
header .contacto ul{
    list-style-type: none;
}

/* navegacion */

nav{
    clear: both;
    background-color: #333;
    overflow: hidden;
}
nav ul .menu{
    list-style-type: none;
}
nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

nav li{
    float: left;
    padding-right: 20px;
    padding-bottom: 15px;
}

.imagenInicio{
    width: 100%;
    margin: 0%;
}

/* primer coso */

.inicioBody{
    background-color: white;
    color: #89b520;
    text-align: center;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.inicioBody i{
    color: #333;
}

/* sgeundo coso */

.Texto1{
    background-color: #444;
    color: white;
    padding: 5px;
    padding-left: 20px;
}

/* imagenes raras */

div.imagenes{
    background-color: white;
    padding: 10px;
}

.imagenesP h2{
    font-family:serif
}
.imagenesP{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 25%;
    padding: 10px;
    color: #333;
    background: #89b520;
    background: linear-gradient(to bottom, #89b520 0%, #d8e6ad 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}